* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease($time) {
  transition: all $time ease-in-out;
}

@mixin header-hover-color {
  background-color: set-opacity(set-text-color($primary-color), 0.07);
}

@mixin header-button {
  padding: 6px 10px;
  text-align: center;
  border-radius: 5px;
  color: set-text-color($primary-color);
  cursor: pointer;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@function set-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}
